---
import CollectiveTeaser from "/src/components/teasers/collective.astro";
import EventTeaser from "/src/components/teasers/event.astro";
import { Debug } from "astro:components";

const { title, slug } = Astro.props;
const fetch_url = `${import.meta.env.REST_BASE}${slug}`;
const fetch_results = await fetch(`${import.meta.env.REST_BASE}${slug}`);
const results = await fetch_results.json();
let Tag = Debug;

switch (slug) {
  case "events":
    Tag = EventTeaser;
  break;
  case "collectives":
    Tag = CollectiveTeaser;
  break;
}
---
<style>
  .listing {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    @media (min-width: 900px ) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>
<section class=listing {slug}>
    {
      results.map((result:any) => (
        <Tag data={result} />
      ))
    }
</section>
