---
import Head from '@components/Head.astro';
import Header from '../components/Header.astro';

const {
  title,
  description,
  keywords,
  canonical,
  ogImage,
  twitterSite,
  twitterCard,
} = Astro.props;
---
<html lang="en">
  <Head
    title={title}
    description={description}
    keywords={keywords}
    canonical={canonical}
    ogImage={ogImage}
    twitterSite={twitterSite}
    twitterCard={twitterCard}
    loadHtmx={true}
  />
  <body>
    <Header />
    <main class="main">
       <slot /> <!-- your content is injected here -->
    </main>
  </body>
</html>