---
import Head from '@components/Head.astro';
import Header from '../components/Header.astro';
const slug = Astro.url.pathname.split('/').filter(Boolean).pop() || 'home';

const {
  title,
  description,
  keywords,
  canonical,
  ogImage,
  twitterSite,
  twitterCard,
} = Astro.props;
---
<html lang="en">
  <Head
    title={title}
    description={description}
    keywords={keywords}
    canonical={canonical}
    ogImage={ogImage}
    twitterSite={twitterSite}
    twitterCard={twitterCard}
    loadHtmx={true}
  />
  <body class={`landing ${slug}`}>
    <Header />
    <main>
        <slot />
    </main>
  </body>
  <script data-goatcounter="https://abcnorio.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</html>
