---
import Head from '@components/Head.astro';
import Header from '../components/Header.astro';

const {
  title,
  description,
  keywords,
  canonical,
  ogImage,
  twitterSite,
  twitterCard,
  loadHtmx,
} = Astro.props;

const routeNeedsHtmx = Astro.url.pathname.startsWith('/events') || Astro.url.pathname.startsWith('/search');
const shouldLoadHtmx = loadHtmx ?? routeNeedsHtmx;
---
<html lang="en">
  <Head
    title={title}
    description={description}
    keywords={keywords}
    canonical={canonical}
    ogImage={ogImage}
    twitterSite={twitterSite}
    twitterCard={twitterCard}
    loadHtmx={shouldLoadHtmx}
  />
  <body>
    <Header />
    <main>
      <slot /> <!-- your content is injected here -->
    </main>
  </body>
</html>