---
import Layout from '../../layouts/event.astro';
import Block from '../../components/wp-blocks/generic-block.astro';
import ATC from '../../components/AddToCalendar/AddToCalendar.astro';
import { REST_PATH } from "/src/util/api_paths.js";
import { BLOCKS_PATH } from "/src/util/api_paths.js";
import { Debug } from 'astro:components';

// define vars are available in the template
const { slug } = Astro.params;
const { id, sd, event, acf, title, display_date, display_time } = Astro.props;

// // get the content
let response = await fetch(`${REST_PATH}events/?slug=${slug}`);
let [post] = await response.json();
let fetch_blocks = await fetch(`${BLOCKS_PATH}posts/${post.id}/blocks`);
let {blocks} = await fetch_blocks.json(); 

// Build all Event pages
// The getStaticPaths() is required for static Astro sites.
// It does not have access to other scopes, use import.meta.env to avoid needless duplication.
// As a result, it makes sense to do most of the mapping here rather than in the frontmatter.
export async function getStaticPaths() {

  let REST_PATH = import.meta.env.DEV_REST_API;
  switch (import.meta.env.BUILD_MODE) {
    case "staging":
      REST_PATH = import.meta.env.STAGING_REST_API;
    break
    case "production":
      REST_PATH = import.meta.env.PRODUCTION_REST_API;
    break;
  }
  let fetch_events = await fetch(`${REST_PATH}events`);
  let events = await fetch_events.json();
  const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'];
  const weekdays = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri'];


  let parseDate = (aDate) => {
      let d = new Date(aDate);
      let year = d.getUTCFullYear();
      let month =(d.getUTCMonth() + 1).toString().padStart(2, '0');
      let date = d.getUTCDate().toString().padStart(2, '0');
      let hours = d.getUTCHours().toString().padStart(2, '0');
      let minutes = d.getUTCMinutes().toString().padStart(2, '0');
      let ampm = ( hours < 12 ) ? "AM" : "PM";
      let weekday = d.getDay();
      
      return {
        year: year.toString(),
        month:  month,
        date: date,
        hours: hours,
        minutes: minutes,
        ampm: ampm,
        display_month: months[month],
        display_hours: ( hours > 12 )? hours - 12 : hours,
        display_minutes: minutes < 10 ? `0${minutes}` : minutes,
        weekday: weekdays[weekday],
      }
  }

  return events.map((post:any) => {
    const sd = parseDate(post.acf.start);
    const ed = parseDate(post.acf.end);
    return {
      params: { slug: post.slug },
      props: {
        title: post.title.rendered,
        content: post,
        display_date: `${ sd.weekday }, ${ sd.display_month }, ${ sd.date }, ${ sd.year }`,
        display_time: `@ ${ sd.display_hours }:${ sd.display_minutes } ${sd.ampm } - ${ ed.display_hours }:${ ed.display_minutes } ${ ed.ampm }`,
        url: Astro.url,
        acf: post.acf,
        event: {
          title: post.title.rendered,
          start: post.acf.start.split(" ").join("T"),
          end: post.acf.end.split(" ").join("T"),
          location: post.acf.location,
          url: Astro.url,
          description: post.excerpt.rendered
        }
      }
    }
  });
}

---
<Layout title={title}>
  <article>
    <header>
      <time>
        <h2>:: { event.start }</h2>
        <div>{ display_date }</div>
        <div>{ display_time }</div>
      </time>

      { acf.location && (
        <div class="location">
          { acf.location }
        </div>
      )}
      
      { acf.organizer_email && (
        <div class="contact">
            <a href={'mailto:'+acf.organizer_email} data-obfuscation="1">Contact Organizer</a>
        </div>
      )}

      <ATC event={event}></ATC>

    </header>
    { blocks.map( (block) => (
      <Block component={block.name} attributes={block.attributes} innerBlocks={block.innerBlocks || null} />
    ))}
  </article>

</Layout>
<style>
  header {
    .location {
      margin-bottom: 1rem;
    }
    .contact {
      margin-bottom: 2rem;
    }
  }
</style>
